@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide>div {
  margin: 10px 10px;
}

.slick-list {
  margin: 0 -10px;
}

@media (max-width: 400px) {

  .slick-slide>div {
    margin: 10px 4px;
  }

}